.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-grey {
    background-color: grey;
}

div {
    min-height: 20px;
    margin-bottom: 4px;
}